chatbot_rag/202502_lista-precos_fev25.pdf
chatbot_rag/.env
chatbot_rag/.vscode/
chatbot_rag/__pycache__/
clean_pdf/lista-precos_fev25_texto.txt
clean_pdf/lista-precos_fev25_sem_imagens.pdf
chromaDb_verify/chroma_db/

